{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "parserPreset": {
    "parserOpts": {
      "headerPattern": "^(?<type>.+):\\s(?<subject>.+)\\s\\(#\\d+\\)$",
      "headerCorrespondence": [
        "type",
        "subject"
      ]
    }
  },
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "fix",
        "docs",
        "style",
        "refactor",
        "test",
        "build",
        "deploy",
        "chore",
        "comment",
        "design",
        "rename",
        "remove"
      ]
    ]
  }
}
